body
{
    background-color: black;
}

#Header
{
    text-align:center;
    padding: 25px;
    color: white;
}

#Footer
{
    text-align:center;
    padding: 25px;
    color: white;
}

h1
{
    font-size: 48px;
    font-family: David;
    margin: 25px;
}

#Navigation
{
    text-align:center;
    border: 5px;
    border-color: gold;
    border-style: solid;
    border-radius: 10px 10px;
    float: left;
    width: 200px;
    background-color: red;

    margin: 5px;
}

#NavigationList
{
    padding: initial;
    width:auto;
}

ul#NavigationList li
{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#NavigationList a
{
    text-decoration: none;
    font-size: large;
    border-style:solid;
    border-radius: 2px;
    border-color: white;
    border-radius: 5px 5px;
    padding:10px;
    background-color: black;
    color: white; 
}

#NavigationList a.selected
{
    text-decoration: none;
    font-size: large;
    background-color: white;
    border-color: black;
    color: black;
}

#NavigationList a:hover
{
    background-color: gold;
    cursor:pointer;   
}

#Content
{
    max-width: 95%;
    background-color: red;
    margin: 5px;
    margin-left:210px;
    border: 5px;
    border-style: solid;
    border-radius: 10px 10px;
    border-color:gold;
    color: white;
}

p
{
    overflow-wrap:break-word;
    text-align:left;
    padding-left:5px;
    padding-right:200px;
    /*color: black;*/
}

#Content div
{
    padding-left: 20px;
}

.tab
{
    padding-left: 25px;
}

.tab .head
{
    margin-bottom: 1px;
}

.tab p
{
    margin-top: 1px;
}

#Content a
{
    color: white;
}

#Footer a
{
    color: white;
}



